<mat-card appearance="outlined" class="header">
  <mat-form-field>
    <mat-label>Wähle eine Datum</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <kode-attribute-picker
    (change)="selectedAttributesChanged($event)"
  ></kode-attribute-picker>
  <kode-attribute-picker
    (change)="selectedAttributesChanged($event)"
  ></kode-attribute-picker>
</mat-card>

@for (customer of customers(); track customer.id) {
<div class="customer-row">
  <div class="customer-name">{{ customer.name }}</div>
</div>
}
